.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todotitle {
  font-size: 30px;
  font-weight: 600;
}

.nav-item {
  font-size: 25px;
  cursor: pointer;
}
